manifest {
    author = 'Rowan Wincote'
    name = 'GBS pipeline'
    description = 'A nextflow pipeline that runs kraken2, bracken and SPAdes in a docker container'
    nextflowVersion = '>=24.10.2'
}

process.container = 'staphb/kraken2'
docker.enabled = true

profiles {

    test {
        
        params.fqpattern = "*R{1,2}.fastq.gz"
        params.weakmem = true
        params.reads_dir = '$HOME/rw2074/Streptococcus/reads/'  // Directory with compressed reads
        params.read1 = '/mnt/c/my_nextflow_work/pipeline/reads/SRR8541972_1.fastq.gz'
        params.read2 = '/mnt/c/my_nextflow_work/pipeline/reads/SRR8541972_2.fastq.gz'
        params.kraken_db = '/mnt/c/my_nextflow_work/pipeline/minikraken2_v1_8GB'
        params.bracken_db = '/mnt/c/my_nextflow_work/pipeline/Bracken'
        params.classification_level = 'S'
        params.threshold = 10
        params.read_len = 150
    }

    minikraken {
        params.kraken_db = "ftp://ftp.ccb.jhu.edu/pub/data/kraken2_dbs/minikraken_8GB_202003.tgz"
    }

}
